@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900);

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
}
body {
    background-image: url('../images/background-main.png');
    background-position: center top;
    background-size: 100% auto;
}
/* FONTE */

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: #333;
    line-height: 1.5;
}

h1 {
    font-size: 2.5rem;
    font-weight: 100;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: 100;
}

h3 {
    font-size: 1.5rem;
    font-weight: 100;
}

p, li {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-heavy {
    font-weight: 700;
}

/* ALINHAMENTO */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*.text-center-titulo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}*/

.text-justify {
    text-align: justify;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_rigth {

    display: block;
    float: right;
    clear: right;
    margin-left: auto;
    margin-right: auto;
}

.img_left {

    display: block;
    float: left;
    clear: left;
    margin-left: auto;
    margin-right: auto;
}

/* PAGINA */

.row
{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.row_features
{
    display: table;
    width: 1024px;
    table-layout: fixed;
    border-spacing: 10px;
}
.column
{
    display: table-cell;
}

.container-team {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.container-titulo {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    padding-bottom: 1px;
}

.container_features {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top:10px;
    padding-bottom: 64px;
    background-color: white;
}

.img-circle {
    border-radius: 50%;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.bg-white {
    background-color: rgba(255,255,255,.5);
}

.bg-light {
    background-color: #F8F9FA;
}

.bg-dark {
    background-color: #001f3f;
}

.bg-dark * {
    color: #fff;
}
.func-table {
    width: 100%;
    text-align: center;
}

/* HEADER */
.page-header {
    width: 100%;
    height: 154px;
}

.logo {
    height: 100px;
    padding: 10px 30px;
}

.navbar-top {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #001f3f;
    height: 100px;
    z-index: 3;
}

.navbar-panel ul {
    position: fixed;
    top: 100px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #007BFF;
    z-index: 3;
}

.navbar-panel li {
    float: left;
}

.navbar-panel li a {
    display: block;
    color: rgba(255, 255, 255, .7);
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.navbar-panel li a:hover {
    color: #FFF;
}

.navbar-panel .active {
    color: #FFF;
}

/* FOOTER */

.page-footer {
    /* border-top: 1px solid #ececee; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 2px solid darkblue;

}

.teste {
    background-image: url('../images/bg_blue.jpg');
    background-position: center top;
    background-size: 100% auto;
}
/* LANDING PAGE VIDEO */
.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #FFF;
}

.video-wrap {
    position: absolute;
    top: 154px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.overlay {
    z-index: 1;
    top: 154px;
    width: 100%;
    height: 100%;
    left: 0;
    background: #001f3f;
    position: absolute;
    opacity: .5;
}

.landing-text {

    z-index: 2;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.landing-text h1 {
    font-size: 380%;
    color: #FFF;
}

.landing-text h3 {
    font-size: 230%;
    margin-top: -4%;
    padding-bottom: 3%;
    color: #FFF;
}

.landing-text .btn {
    text-decoration: none;
    color: #FFF;
    font-size: 140%;
    background: #007BFF;
    padding: 2% 3%;
    border-radius: 5px;

}

.landing-text p {
    font-size: 130%;
    padding: 3%;
    color: #FFF;
}

/* EXTRAS PAGINA MISSÃO*/
blockquote {
	position: relative;
	display: inline-block;
	background: #eee;
	padding: 30px 30px 30px 50px;
	border-radius: 10px;
	font-family: 'Bitter', serif;
	font-size: 1.3rem;
	color: #333;
	text-align: left;

	box-shadow: 1px 1px 1px #999,
				2px 2px 1px #999,
				3px 3px 1px #999;
	transition-duration: .3s;
}

span.author {
	position: relative;
	display: block;
	text-align: right;
	margin-top: 5px;
	color: #999;
}

.app-nav {
	height: 800px;
	background: #fff;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
	width: 100%;
	border: 3px solid #001f3f;
	border-right: none;
	padding: 5px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9DBFAF;
}

.searchTerm:focus{
	color: #001f3f;
}

.searchButton {
	width: 40px;
	height: 36px;
	border: 1px solid #001f3f;
	background: #001f3f;
	text-align: center;
	color: #007BFF;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

.sidenav {
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #001f3f;
  display: block;
}

.sidenav a:hover {
  color: #007BFF;
}

