@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900);

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	font-size: 100%;
}
body {
	background-image: url('../images/background-main.png');
    background-position: center top;
    background-size: 100% auto;
}
/* FONTE */

* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	color: #333;
	line-height: 1.5;
}

h1 {
	font-size: 2.5rem;
	font-weight: 100;
	text-align: center;
}

h2 {
	font-size: 2rem;
	font-weight: 100;
}

h3 {
	font-size: 1.5rem;
	font-weight: 100;
}

p, li {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.8;
}

.font-light {
	font-weight: 300;
}

.font-regular {
	font-weight: 400;
}

.font-heavy {
	font-weight: 700;
}

/* ALINHAMENTO */

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.text-justify {
	text-align: justify;
}

/* PAGINA */

.container {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	padding: 64px;
}

.bg-white {
	background-color: rgba(255,255,255,.5);
}

.bg-light {
	background-color: #F8F9FA;
}

.bg-dark {
	background-color: #001f3f;
}

.bg-dark * {
	color: #fff;
}
.func-table {
	width: 100%;
	text-align: center;
}

/* HEADER */
.page-header {
	width: 100%;
	height: 154px;
}

.logo {
	height: 100px;
	padding: 10px 30px;
}

.navbar-top {
	position: fixed;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #001f3f;
	height: 100px;
}

.navbar-panel ul {
	position: fixed;
	top: 100px;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #007BFF;
}

.navbar-panel li {
	float: left;
}

.navbar-panel li a {
	display: block;
	color: rgba(255, 255, 255, .7);
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
}

.navbar-panel li a:hover {
	color: #FFF;
}

.navbar-panel .active {
	color: #FFF;
}

/* FOOTER */

.page-footer {
	/* border-top: 1px solid #ececee; */
	margin-left: auto;
	margin-right: auto;
	padding-top: 1rem;
    padding-bottom: 1rem;
}

.teste {
	background-image: url('../images/bg_blue.jpg');
    background-position: center top;
    background-size: 100% auto;
}
